includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		# curl_exec returns result thanks to option CURLOPT_RETURNTRANSFER - wtf is that api?
		- '#^Method Contributte\\Fio\\Http\\HttpClient\:\:sendRequest\(\) should return string but returns string\|true\.$#'

		# Probably bug, LibXMLError does not use Throwable
		- '#^Parameter \#3 \$previous of class Contributte\\Fio\\Exceptions\\InvalidResponseException constructor expects Throwable\|null, LibXMLError given\.$#'

		- '#Property Contributte\\Fio\\(.*)::\$(.*) \(float\) in isset\(\) is not nullable\.#'
		- '#Property Contributte\\Fio\\(.*)::\$(.*) \(string\) in isset\(\) is not nullable\.#'
